$('.users-container .row').each(function(){
  $(this).find('.form-group').each(function(){
    $(this).find('.text-danger').html('');
  });
});
<% if @user.errors.present? %>
  <% @user.errors.messages.each do |key, value| %>
    $('.<%= key.to_s %>').addClass('has-error');
    $('.<%= key.to_s %>').append("<div class='text-danger'><%= key %> <%= value[0] %></div>");
  <% end %>
  <% if @user.address.present? && @user.address.errors.present? %>
    <% @user.address.errors.messages.each do |key, value| %>
      $('.<%= key.to_s %>').addClass('has-error');
      $('.<%= key.to_s %>').append("<div class='text-danger'><%= key %> <%= value[0] %></div>");
    <% end %>
  <% end %>
<% else %>
  var userContent = $(".users-container .stats");
  userContent.html("<%= j render 'users/users', users: @organization.users %>");
  showNotification("success", "Successfully created");
<% end %>
