<% if @pay_slip_element.present? %>
  <% if @pay_slip_element.errors.present? %>
    <% @pay_slip_element.errors.messages.each do |key, value| %>
      $('.payslip-edit-form .<%= key.to_s %>').addClass('has-error');
      $('.payslip-edit-form .<%= key.to_s %>').append("<div class='text-danger'><%= key %> <%= value[0] %></div>");
    <% end %>
  <% else %>
    hideModel();
    showNotification("success", "Successflly updated");
    $('.payslip-container').html("<%= j render 'pay_slips/payslip_elements', pay_slips: @current_organization.pay_slips.reload %>");
  <% end %>
<% else %>
  showNotification("warning", "PaySlip element not found!!!");
<% end %>
