.container-fluid
  .row
    .col-md-4.col-md-offset-4
      .card
        .card-header{ "data-background-color" => "purple" }
          %h4.title{ style: 'font-weight: bold; text-transform: uppercase;'  } Log in
        .card-content
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            -#= devise_error_messages!
            .row
              .col-md-12
                .form-group.label-floating
                  = f.label :email, class: 'control-label'
                  = f.email_field :email, autofocus: true, class: 'form-control'
                  = render "layouts/devise_flash_messages", field: :email if !flash.empty? && current_user.blank?
            .row
              .col-md-12
                .form-group.label-floating
                  = f.label :password, class: 'control-label'
                  = f.password_field :password, autocomplete: 'off', class: 'form-control'
                  = render "layouts/devise_flash_messages", field: :password if !flash.empty? && current_user.blank?
              - if devise_mapping.rememberable?
                .field
                  = f.check_box :remember_me
                  = f.label :remember_me
              .actions
                = f.submit 'Log in', class: 'btn btn-primary'
            = render "devise/shared/links"
