= form_for @organization, html: {multipart: :true}, remote: true, authenticity_token: true do |f|
  .row
    .col-md-5
      .form-group.label-floating.name
        %label.control-label Organization
        = f.text_field :name, class: 'form-control'
    .col-md-4
      .form-group.label-floating.estb_date
        %label.control-label Estb Date
        = f.text_field :estb_date, class: 'form-control'
    .col-md-3
      .form-group.label-floating.domain
        %label.control-label Domain
        = f.text_field :domain, class: 'form-control'
  .row
    .col-md-12
      .form-group
        %label Desciption
        .form-group.label-floating.description
          %label.control-label Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
          = text_area :organization, :description, class: 'form-control', rows: '5'
  -# = f.fields_for :addresses do |address|
    .row
      .col-md-12
        .form-group
          %label Address
          .row
            .col-md-12
              .col-md-4
                .form-group.label-floating.street_address1
                  %label.control-label Street1
                  = address.text_field :street_address1, class: 'form-control'
              .col-md-4
                .form-group.label-floating.street_address2
                  %label.control-label Street2
                  = address.text_field :street_address2, class: 'form-control'
              .col-md-4
                .form-group.label-floating.city
                  %label.control-label City
                  = address.text_field :city, class: 'form-control'
          .row
            .col-md-12
              .col-md-4
                .form-group.label-floating.state
                  %label.control-label State
                  = address.text_field :state, class: 'form-control'
              .col-md-4
                .form-group.label-floating.postal_code
                  %label.control-label postal_code
                  = address.text_field :postal_code, class: 'form-control'
              .col-md-4
                .form-group.label-floating.country
                  %label.control-label country
                  = address.text_field :country, class: 'form-control'
  = f.submit :Create, class: 'btn btn-primary pull-right'
